autopep8==1.4.3
Django==2.1.7
django-extra-fields==1.0.0
django-filter==2.1.0
django-webpack-loader==0.6.0
djangorestframework==3.9.1
djangorestframework-gis==0.14
gunicorn==19.9.0
pep8==1.7.1
Pillow==5.4.1
psycopg2==2.8.2
pycodestyle==2.5.0
pytz==2018.9
